
/* Style the label so it looks like a button */
.rptWordPadding {
     padding-right: 3px;
     padding-left: 3px;
}
label.syllable {
     border-right: 0px solid #FFFFFF;
     position: relative;
     z-index: 3;
     padding-right: 0px;
     padding-left: 0px;
}
label.word {
     border-right: 0px solid #FFFFFF;
     position: relative;
     z-index: 3;
     padding-right: 3px;
     padding-left: 3px;
}
/* CSS to make the checkbox disappear (but remain functional) */
label input {
     position: absolute;
     visibility: hidden;
}



.centered_content_outer {
	float:left; 
	height:50%; 
	margin-bottom:-120px;}

.centered_splash {
   z-index:1000;
   position:fixed;
	background-color:rgba(255,255,255,1.0);
	width:100%;
	height:100%;
	margin-top:0px;
	margin-left:0px;
	   display:none;
}

.centered_splash_inner {
   top:50%;
   left:50%;
   width:400px;
   height:50px;
   position:fixed;
   text-align:center;

   background-color:rgba(255,255,255,1.0);
    margin-top:-150px;
    margin-left:-150px;
 }

/* Progress Bar */

dl.progress,
dl.progress *
    { margin: 0; padding: 0; 
    margin-left:auto;
    margin-right:auto;}

dl.progress {
    padding: 1px; border: 1px solid #ddd;
    height: 20px; width: 300px; }

.progress dt
    { width: 0; height: 0; overflow: hidden; }

.progress .done,
.progress .left
    { height: 100%; float: left; }

.progress .done
    { background-color: #7f85ff; }

/* End Progress Bar */

span.hidden {
visibility:hidden;
font-weight:bold;
color:black;
}

#noTextWrapArea{
 white-space: nowrap;
 display: inline;
}

#textWrapArea{
 white-space: normal;
 display: inline;
}

#unsupported_warning{
 display: none;
}

#title {
text-align:center;
width:300px;
padding:10px;
border:5px solid black;
margin:30px;
font-weight:bold;
display:inline-block;
}

#longText {
width:500px;
margin-left:auto;
margin-right:auto;
text-align: left;
}

#indentedText {
padding-left:5em;
}

#doubleIndentedText {
padding-left:10em;
}

#main {
text-align: center;
margin-left:auto;
margin-right:auto;
width:70%;
}

/* This causes the custom checkboxes to disappear
form.submit,
form.submit * {
 margin: 0; padding: 0; 
}
*/

table.center {
margin-left:auto;
margin-right:auto;
}

td.buttons {
    padding-left: 20px;
    padding-right: 20px;
}

td.responses {
    padding-left: 10px;
    padding-right: 10px;
}

td {
text-align:center;
padding:3px 7px 2px 7px;
}


/* The below code is to get checkboxes to work */

img { border: none; }
p
{
	font-size: 1em;
	margin: 0 0 1em 0;
}

fieldset
{
	margin: 1em;
	padding: 20px;
}	
fieldset p
{
	display: block;
	position: relative;
	overflow: hidden;
}
fieldset input[type=text],
fieldset input[type=email]
{
	border: 1px solid #ccc;
	line-height: 20px;
	padding: 3px;
	width: 200px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

label + p,
input + p
{
	margin-top: 20px;
}

p > input
{
	padding: 0;
	margin: 0;
	height: 10px;
	width: 10px;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
}
p > label 
{ 
	float: left; 
	line-height: 50px; 
	color: #fff; 
	padding: 0 0 0 50px;
}


p:not(#foo) > input[type=checkbox] + label { background: url('../imgs/off.png') 0 0 no-repeat; }
p:not(#foo) > input[type=radio] + label { background: url('../imgs/off.png') 0 0 no-repeat; }


/* Checked styles */
p:not(#foo) > input[type=radio]:disabled:checked + label,
p:not(#foo) > input[type=radio]:hover:disabled:checked + label,
p:not(#foo) > input[type=radio]:focus:disabled:checked + label,
p:not(#foo) > input[type=radio]:disabled:checked + label:hover,
p:not(#foo) > input[type=radio]:disabled:checked + label:hover:active { background: url('../imgs/disabled_choice.png') 0 0 no-repeat; }

p:not(#foo) > input[type=radio]:disabled + label,
p:not(#foo) > input[type=radio]:hover:disabled + label,
p:not(#foo) > input[type=radio]:focus:disabled + label,
p:not(#foo) > input[type=radio]:disabled + label:hover,
p:not(#foo) > input[type=radio]:disabled + label:hover:active { background: url('../imgs/disabled_off.png') 0 0 no-repeat; }				

p:not(#foo) > input[type=checkbox]:checked + label 							{ background: url('../imgs/choice.png') 0 0 no-repeat; }
p:not(#foo) > input[type=checkbox]:hover:checked + label,
p:not(#foo) > input[type=checkbox]:focus:checked + label,
p:not(#foo) > input[type=checkbox]:checked + label:hover,
p:not(#foo) > input[type=checkbox]:focus:checked + label 					{ background: url('../imgs/hoverChoice.png') 0 0 no-repeat; }
p:not(#foo) > input[type=radio]:checked + label 							{ background: url('../imgs/choice.png') 0 0 no-repeat; }
p:not(#foo) > input[type=radio]:hover:checked + label,
p:not(#foo) > input[type=radio]:focus:checked + label,
p:not(#foo) > input[type=radio]:checked + label:hover,
p:not(#foo) > input[type=radio]:focus:checked + label 					{ background: url('../imgs/hoverChoice.png') 0 0 no-repeat; }


/* Hover & Focus styles */
p:not(#foo) > input[type=checkbox]:hover + label,
p:not(#foo) > input[type=checkbox]:focus + label,
p:not(#foo) > input[type=checkbox] + label:hover 							{ background: url('../imgs/hoverOff.png') 0 0 no-repeat; }
p:not(#foo) > input[type=radio]:hover + label,
p:not(#foo) > input[type=radio]:focus + label,
p:not(#foo) > input[type=radio] + label:hover 							{ background: url('../imgs/hoverOff.png') 0 0 no-repeat; }


    
